/**
<%= fontName %> Webfont
*/
@font-face {
	font-family: '<%= fontName %>';
	src: url('<%= fontName %>.eot?<%= fontDate %>');
	src: url('<%= fontName %>.eot?#iefix-<%= fontDate %>') format('embedded-opentype'),
		url('<%= fontName %>.woff2?<%= fontDate %>') format('woff2'),
		url('<%= fontName %>.woff?<%= fontDate %>') format('woff'),
		url('<%= fontName %>.ttf?<%= fontDate %>') format('truetype');
		font-style: normal;
		font-weight: 400;
}

[class^='icon-']:before,
[class*=' icon-']:before {
	font-family: '<%= fontName %>';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

/*
Glyphs list
*/
<% _.each(glyphs, function(icon){ %>
.icon-<%= icon.name %>:before {
	content: '\<%= icon.unicode[0].charCodeAt(0).toString(16) %>';
}
<% }) %>